@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

:root{
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-hover: hsl(158, 91%, 14%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
}

/* PROGRESS-BAR */
.progress-bar {
    /* définissez la hauteur et la largeur de la barre de progression */
    height: 3px;
    width: 0%;
    top: 0;
    position: sticky;

    /* ajoutez un arrière-plan de couleur et une bordure */
    background-color: var(--dark-cyan);

    /* ajoutez un arrondi aux coins */
    border-radius: 10px;
  }

/* NAVBAR */
div.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 0;
    position: absolute;
}

div.navbar ul{
    list-style-type: none;
    display: flex;
}

div.navbar ul li{
    padding: 0 10px 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


div.navbar ul li a{
    color: var(--very-dark-blue);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
}

div.navbar ul li a:hover{
    color: var(--dark-grayish-blue);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 700;
}

/*  */
header{
    height: 100vh;
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.home-title{
    font-weight: 700;
}

div.home-title{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.home-title h1{
    font-size: 1.5em;
    padding-bottom: 1em;
    text-align: center;
}

div.home-title h1 span{
    color: var(--dark-cyan);
    font-size: 1em;
}

div.home-title span:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

div.home-title span h2{
    color: var(--dark-cyan);
    font-size: 1em;
}

#about{
    height: 1000px;
    width: 100%;
    background-color: blue;
}

#projects{
    height: 1000px;
    width: 100%;
    background-color: red;
}

@media screen and (max-width = 900px){

}