@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

@font-face {
    font-family: "MOLIKA";
    src: url(MOLIKA.woff2) format("woff2"),
         url(MOLIKA.woff) format("woff"); 
    font-weight: normal;
    font-style: normal;
}
/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

:root{
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-hover: hsl(158, 91%, 14%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0 20px;
}

/* PROGRESS-BAR */
.progress-bar {
    /* définissez la hauteur et la largeur de la barre de progression */
    height: 3px;
    width: 0%;
    top: 0;
    position: sticky;

    /* ajoutez un arrière-plan de couleur et une bordure */
    background-color: var(--dark-cyan);

    /* ajoutez un arrondi aux coins */
    border-radius: 10px;
    max-width: 100%;
}

/* NAVBAR */
div.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 1em;
    text-transform: uppercase;
    padding: 1em 0;
    position: absolute;
}

div.navbar ul{
    list-style-type: none;
    display: flex;
}

div.navbar ul li{
    padding: 0 10px 0 10px;
    font-weight: 700;
}


div.navbar ul li a{
    color: var(--very-dark-blue);
    text-decoration: none;
    font-weight: 700;
    transition: all 0.5s;
}

div.navbar ul li a:hover{
    color: var(--dark-grayish-blue);
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 700;
}

/*  */
header{
    height: 100vh;
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div.home-title{
    font-weight: 700;
}

div.home-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.home-title h1{
    font-size: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
    padding-bottom: 1em;
    text-align: center;
}

div.home-title h1 span{
    font-size: clamp(3.125rem, 3.125rem + 0vw, 3.125rem);
    font-size: 1em;
    color: var(--dark-cyan);
}

div.home-title span:nth-child(2){
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

div.home-title span h2{
    color: var(--dark-cyan);
    font-size: 30px;
}

/* ABOUT */
#about
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-card
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h2.about-title
{
    font-size: 60px;
    position: absolute;
    top: -7%;
    left: 9%;
    text-transform: uppercase;
    color: var(--very-dark-blue);
}


.about-text
{
    width: 600px;
    height: 600px;
    color: white;
    background-color: var(--dark-grayish-blue);
    display: flex;
}

.about-text-parent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 90px 30px 20px 40px;
}


hr{
    width: 100%;
    padding: none;
    margin: none;
    height: 2px;
    background-color: white;
    align-self: center;
}

.about-text-parent a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    transform: all .1s;
    display: flex;
}

.about-text-parent a:hover{
    color: white;
    text-decoration: underline;
    font-size: 2em;
    transform: all .1s;
}



.btn-sn
{
    background-color: white;
    border: none;
    margin: 0 15px;
    transition: all .3s;
    padding: 5px 5px;
    border-radius: 999px;
}

.btn-sn:hover
{
    background-color: white ;
    border: none;
    margin: 0 15px;
}

.btn-sn i
{
    font-size: 32px;
    color: var(--dark-cyan);
}

.about-img
{
    width: 600px;
    height: 600px;
}

.about-img img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#projects
{
    height: 100vh;
    width: 100%;
    background-color: red;
}

@media (max-width: 600px)
{
    .about-img
    {
        display: none;
    }
}