@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

/* font-family: 'Fraunces', serif; */
/* font-family: 'Montserrat', sans-serif; */

:root{
    /* Primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-hover: hsl(158, 91%, 14%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

*{
    padding: 0;
    margin: 0;
}

header{
    height: 100vh;
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home-title{
    background-color: var(--cream);
}

footer{
    height: 50vh;
    background-color: var(--very-dark-blue);
}